body {
    display: flex;
    flex-direction: column;
}

header {
    height: 500px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: url(./images/headerimg.jpg);
    background-size: 100% 100%;
    opacity: 80%;
    
    
    
}

.navigation {
    width:25%;
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.nav-list {
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    gap: 25px;
    list-style: none;
}

.logo {
   
    background-color:green;
    width:25%;
    height: 25%;
    
}

.info {
    background-color: gray;
    height: 22vh;
}

.paragraph {
    background-color: bisque;
    height: 22vh;
}

.signup {
    background-color: lightpink;
    height: 22vh;
}

footer {
    background-color: lightgreen;
    height: 12vh;
}