body {
    display: flex;
    flex-direction: column;
}

header {
    height: 350px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: url(./images/headerimg.jpg);
    background-size: 100% 100%;
}

.navigation {
    width:25%;
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
}

.nav-list {
    display: flex;
    flex-direction: row;
    gap: 25px;
    list-style: none;
    font-size: 18px;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:active {
    color: white;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}
  
a:hover {
    text-decoration: none;
}
  
a:active {
    text-decoration: none;
}

.comingsoon-container{
    color: white;
    height:600px;
    padding: 5px;;
    font-weight: bold;
    font-family:  Georgia, Arial and Helvetica;
    margin-top: 100px;
    width: 500px;
}

h1 {
    margin-top: 15px;
    font-size: 48px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.heropitch {
    margin-left: 5px;
    font-size: 20px;
    color: black;
}


.logo {
    width:25%;
    height: 25%;
}

.logo-container{
    margin-left: 20px;
}

.info-container {
   
    height: 400px;
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    justify-content: space-evenly;
}

.bold {
    font-weight: bold;
}



.sixreasonsinfo {
    display: flex;
    flex-direction: column;
}



.sixreasonstext {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 2px 16px;
    font-weight: bold;
}

.bbqbeginnerguide {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.weber-text {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 2px 16px;
}

.beyond-burgers-div {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.beyond-burgers-text {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 2px 16px;
}

.joy-of-bbq-div {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.joy-of-bbq-text {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 2px 16px;
}

.card-one:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-two:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-three:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-four:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-one,
.card-two,
.card-three,
.card-four {
    justify-content: center;
    margin-top: 10px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    width:300px;
    transition: 0.3s;
    
}

section {
    background-color: rgb(233, 228, 228);
    height: 450px;
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.pitch-container {
    background-color: lavender;
    width: 650px;
    
}



.bold-pitch {
    background-color: blueviolet;
    text-align: center;
    font-size:  36px;
    font-weight: bold;
    margin-top: 5px;
    padding: 5px;
}

.sign-up-quote {
    font-size: 24px;
    background-color: coral;
    color: white;
    font-weight: bold;
}

.join-now {
    background-color: #3382F6;
    font-size: 20px;
    margin-top: 0px;
    
}

.sign-up {
    background-color: lightgreen;
    margin-top: 0px;
    font-size:  36px;
    text-align: center;
    padding: 5px;
   
    
}

.signup-container {
    background-color: lightpink;
    height: 22vh;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.blue-container {
    background-color: #3382F6;
    width: 650px;
    height: 120px;
    margin-top: 26px;
    border-radius: 3%;
    display: flex;
    flex-direction: row;
   
}

.call-to-action {
    background-color: rgb(201, 241, 156);
    width: 460px;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    
    
}

.button-container {
    background-color: #3382F6;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button-wrapper {
    margin-left: 100px;
}

button {
    background-color: #3382F6;
    color: white;
    
    border-color: white;
}

footer {
    background-color: lightgreen;
    height: 12vh;
}

